<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="triggerMigrar" value="1"/>

    <!--Sql(Origem)-->
    <add key="StringConexaoSqlServer" value="Server=127.0.0.1,1433;User Id=sa;Password=Helloword!;Database=CopyDb" />
    <add key="QuerySqlServer" value="SELECT * FROM CopyDb.dbo.tb_copy(nolock) where convert(varchar, DataAbertura, 103) >= convert(varchar, getdate(), 103)"/>
    
    <!--MySql(Destino)-->
    <!--<add key="StringConexaoMySql" value="server=127.0.0.1;uid=temp;pwd=temp!;database=tempdb" />-->
    <add key="StringConexaoMySql" value="server=publicacao02.infonet.com.br;uid=testeivl;pwd=teste@2030;database=testeplinio_testeivldados" />
    <add key="QueryVerificarNumeroOrdemServicoMySql" value="select * from tb_copy_dados_optimiza where NumeroOrdemServico = {0}"/>
    <add key="InsertMySql" value="INSERT INTO tb_copy_dados_optimiza ({0}) VALUES ({1})"/>
    <add key="LogMySql" value="insert into log_service_migracao_entre_db values (now(),'{0}')"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
